/* You can add custom CSS and override boostrap styles in this file.  Remember, bootstrap is just CSS at the end of the day! */

p {
  line-height: 1.5;
  /* font-size: max(1rem, 1vw); */
  font-size: calc(18px+1.5vw);
  color: #444444;
}

.navbar {
  min-height: 12%;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.527);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.527);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.527);
  width: 100%;
}

.navbar-brand {
  background: #E4EFE7;
}

#hero-section {
  /* This should be an image. */
  background-image: 
  linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.5)),
   url("/img/backgroundImg.jpeg");
   /* background-color: black; */
  /* Change this values to work for you. */
  padding: clamp(100px, 100vh, 200px) 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: right 35% bottom 45%;
}

#profile-img {
  /* Change this values to work for you. */
  margin: clamp(10px, 15vh, 100px) auto;
  /* This should be an image */
  background-image: url("/img/personal.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  /* Change this values to work for you. */
  height: clamp(200px, 40vh, 200px);
  /* Change this values to work for you. */
  width: clamp(200px, 40vh, 200px);
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
} 

#hero-section h1, h6 {
  /* How to center text? */
  color: #FDFAF6;
  font-family: 'Lato', sans-serif;
  /* Add responsive vertical margins via clamp? */
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #064420;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#mission-section {
  background: #FDFAF6;
}

#mission-section img {
  height: auto;
  max-width: 75%;
  margin: 0;
  padding-bottom: 20px;
  /* object-fit: cover; */
} 

#skills-section {
  background: #FAF1E6;
}

#skills-section img {
  height: 15vh;
  width: auto;
  padding: 10px;
}

#inspiration-section {
  background: #FDFAF6;
}

.carousel .carousel-item {
  max-height: 600px;
}

.carousel h5 {
  color: #FDFAF6;
  text-shadow: #808080 1px 0 30px;
}

.carousel p em {
  background: #064420;
  color: #FAF1E6;
}

.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#contact-section {
  background: #FAF1E6;
  padding-bottom: 10px;
  margin-top: 20px;
}

.footer {
  background: black;
  height: 20%;
  color: #FDFAF6;
  padding-top: 20px; 
}

